footer {
    background-color: #fefefe;
    color: rgb(17, 17, 17);
    padding: 2rem 3rem;
    border-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
}


footer p {
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.8;
}

.social-media {
    display: flex;
    gap: 1rem;
}

.social-media a {
    color: black;
    text-decoration: none;
    gap: 1rem;
}


.social-media :hover {
    transform: scale(1.15);
    opacity: 0.8;
}