.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 3.8rem;
    height: 4.0rem;

    background: #ffffff;
    box-shadow: 0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.08);
}

.logo-group {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.logo-box {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #7F55E0;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box img {
    width: 1.4rem;
    height: 1.4rem;
    filter: brightness(0) invert(1);
}

#storename {
    font-family: Poppins, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #7F55E0;
    margin: 0;
}


nav {
    display: flex;
    gap: 1.9rem;
}

.nav-link {
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 1.0rem;
    color: #1A1A1A;
    transition: all 0.2s ease;
}

.nav-link:hover {
    color: #7F55E0;
}