.edit-container {
    width: 100%;
    max-width: 90rem;
    margin: 2rem auto;
    padding: 1.6rem;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 0.6rem;
    border: 0.1rem solid #DEE1E6;
    box-shadow: 0 0 0 #00000000, 0 0.1rem 0.3rem #171a1f17;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.title {
    font-family: Archivo;
    font-size: 1.9rem;
    line-height: 2.3rem;
    font-weight: 700;
    color: #171A1FFF;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    width: 16.66%;
    font-family: Inter;
    font-size: 0.9rem;
    line-height: 1.3rem;
    font-weight: 600;
    color: #565D6DFF;
    padding: 0.8rem;
    text-align: left;
}

td {
    width: 16.66%;
    font-family: Inter;
    font-size: 0.9rem;
    line-height: 1.3rem;
    font-weight: 400;
    color: #171A1FFF;
    padding: 0.8rem;
}

.btn-edit {
    width: 4.1rem;
    height: 2.3rem;
    padding: 0 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Inter;
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 500;

    color: #171A1FFF;
    background: #FFFFFFFF;

    border-radius: 0.4rem;
    border: 0.1rem solid #DEE1E6FF;

    cursor: pointer;
    transition: all 0.2s ease;
}


.btn-edit:hover {
    background: #F3F4F6FF;
}


.btn-edit:active {
    background: #E5E7EBFF;
    transform: scale(0.98);
}

.btn-edit:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    transform: none;
}

.actions {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.create-container {
    width: 100%;
    max-width: 90rem;
    margin: 2rem auto;
    padding: 1.6rem;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 0.6rem;
    border: 0.1rem solid #DEE1E6;
    box-shadow: 0 0 0 #00000000, 0 0.1rem 0.3rem #171a1f17;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.form-title {
    top: 1.6rem;
    left: 1.6rem;
    font-family: Archivo;
    font-size: 1.5rem;
    line-height: 2.0rem;
    font-weight: 600;
    color: #171A1FFF;/
}


.form-group input,
.form-group textarea {
    width: 40.7rem;
    height: 2.8rem;
    padding: 0 0.8rem;
    font-family: Inter;
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 400;
    background: #FFFFFF;
    border-radius: 0.4rem;
    border: 0.1rem solid #DEE1E6FF;
    outline: none;
}

.form-label {
    font-family: Inter;
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 500;
}

.form-group input:hover,
.form-group input:focus,
.form-group input:disabled,
.form-group textarea:hover,
.form-group textarea:focus,
.form-group textarea:disabled {
    color: #565D6DFF;
    background: #FFFFFFFF;
    border-color: #DEE1E6FF;
}

.btn-add {
    width: 100%;
    max-width: 82.9rem;
    height: 2.5rem;
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 500;
    color: #FFFFFFFF;
    background: #636AE8FF;
    opacity: 1;
    border-radius: 0.4rem;
    border: 0 solid #000000FF;
    box-shadow: 0 0 0 #00000000, 0 0.25rem 0.6rem #171a1f1C;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-add:hover {
    color: #FFFFFFFF;
    background: #636AE8FF;
}

.btn-add:active {
    color: #FFFFFFFF;
    background: #636AE8FF;
    transform: scale(0.98);
}

.btn-add:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    transform: none;
}