.catalog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 4.0rem 3.0rem;
}

.catalog-page h1 {
    font-family: Archivo, sans-serif;
    font-size: 1.9rem;
    line-height: 2.3rem;
    font-weight: 700;
    color: #171A1FFF;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

.card {
    height: 29.8rem;
    background: #FFFFFFFF;
    border-radius: 0.4rem;
    border: 0.1rem solid #DEE1E6FF;
    box-shadow: 0 0 0 #00000000, 0 0.1rem 0.3rem #171a1f17;
    padding: 1.5rem;
}

.card img {
    width: 100%;
    height: 18.8rem;
    border-radius: 0.4rem 0.4rem 0 0;
    object-fit: cover;
}

.card h2 {
    font-family: Archivo, sans-serif;
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 600;
    color: #171A1FFF;
    margin: 1.0rem 0 0.5rem 0;
}

.card h3 {
    font-family: Archivo, sans-serif;
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: #636AE8FF;
    margin: 0.5rem 0 1.0rem 0;
}

.card p {
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    line-height: 1.3rem;
    font-weight: 400;
    color: #565D6DFF;
    margin: 0 0 1.0rem 0;
}

.catalog-container .btn {
    top: 26.2rem;
    left: 1.1rem;
    width: 24.9rem;
    height: 2.5rem;
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 500;
    color: #FFFFFFFF;
    background: #636AE8FF;
    opacity: 1;
    border-radius: 0.4rem;
    border-width: 0rem;
    border-color: #000000FF;
    border-style: solid;
    transition: all 0.25s ease;
}


.catalog-container .btn:hover {
    background: #4f56d6;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


.catalog-container .btn:hover:active {
    color: #FFFFFFFF;
    background: #636AE8FF;
}


.catalog-container .btn:disabled {
    opacity: 0.4;
}